# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDnL4rtmMx4YFR67sQNVt3Dfbcjw3B7B7Y"
VITE_FIREBASE_AUTH_DOMAIN="pea-bpn-inventory.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="pea-bpn-inventory"
VITE_FIREBASE_STORAGE_BUCKET="pea-bpn-inventory.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="484483009459"
VITE_FIREBASE_APP_ID="1:484483009459:web:d3f6614de82a68b46a59c6"
VITE_FIREBASE_MEASUREMENT_ID="G-H6QXT08HD1"
VITE_GAS_WEBAPP_URL="https://script.google.com/macros/s/AKfycbwgQ6ePu0kjYD_hgz1bXHgJHcNKzhvAPGnz5VOzjjaO8xaj57bFkb_swI7Bw-PNjuLhOg/exec"